
.content-bg-pattern {
    position: relative;
    flex: 1;
    background: 
        linear-gradient(90deg, #fff 1px, transparent 1px),
        linear-gradient(#fff 1px, transparent 1px);
    background-size: 30px 30px;
    overflow: auto;
    padding: 60px 30px 30px;
}


